@page "/ProductManagement"
@using MatBlazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using AzuxUI.Shared.Models
@using AzuxUI.Shared.DataAccess
@inject HttpClient Http;

<h1>Products</h1>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid @ref="productDataGrid" TValue="Product" Query="query" AllowSelection="true" AllowFiltering="true" AllowSorting="true" AllowExcelExport="true" AllowPdfExport="true" ContextMenuItems="@(new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "Edit", "Delete", "Save", "Cancel", "FirstPage", "PrevPage","LastPage", "NextPage"})" AllowPaging="true">
                <SfDataManager Url="@(ApiHelper.ProductUrl)" CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(Product.Id) HeaderText="Id" TextAlign="TextAlign.Left" IsPrimaryKey="true" Width="30"></GridColumn>
                    <GridColumn Field=@nameof(Product.ProductName) HeaderText="Product Name" TextAlign="TextAlign.Left" EditType="EditType.DefaultEdit" IsPrimaryKey="false" Width="50"></GridColumn>
                    <GridForeignColumn TValue="Category" Field="@nameof(Category.Id)" HeaderText="Category" ForeignKeyValue="@nameof(Category.CategoryName)" TextAlign="TextAlign.Left" EditType="EditType.DropDownEdit" Width="50" AllowEditing="true">
                        <Syncfusion.Blazor.Data.SfDataManager Url="@(ApiHelper.CategoryUrl)" CrossDomain="true" Adaptor="Adaptors.ODataV4Adaptor">
                        </Syncfusion.Blazor.Data.SfDataManager>
                    </GridForeignColumn>
                    <GridColumn Field=@nameof(Product.DefaultPrice) HeaderText="Default Price" TextAlign="TextAlign.Left" EditType="EditType.NumericEdit" IsPrimaryKey="false" Width="50"></GridColumn>
                    <GridColumn Field=@nameof(Product.MaxRetailPrice) HeaderText="Maximum Retail Price" TextAlign="TextAlign.Left" EditType="EditType.NumericEdit" IsPrimaryKey="false" Width="50"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {
    SfGrid<Product> productDataGrid;

    private Query query;

    protected override void OnInitialized()
    {
        query = new Query().Expand(new List<string>() { nameof(Category) });
        base.OnInitialized();
    }
}
